section {
	height-min: 100vh;
}

/*Navbar*/

.navbar-brand {
	visibility: hidden;
}

.navbar.top-nav-collapse .navbar-brand {
	visibility: visible;
}

.btn-primary {
 background-color: black;
 color: #42DCA4;
 border: solid 1px #42DCA4;
}

.btn-primary:hover {
	background-color: #42DCA4;
	color: black;
	/* font-weight: bold; */
	border: solid 1px #42DCA4;
   }

#minilogo {
	display: inline-block;
	width:30px;
	margin-top:-6px;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
  /*height: 100%;*/
	min-height: 650px;
	background: black;
	/*overflow: auto;*/
	background-size: cover;
	background-position: center center;
	z-index: 1;
	margin-bottom: 75px;
}

#demo-canvas { /*where network background animation lives*/
	position: absolute;
	pointer-events: none;
}

.welcome {
	font-weight: lighter;
	  z-index: 2;
	  /*position: absolute;*/
	  margin: 0;
	  padding: 0;
	  color: #f9f1e9;
	  text-align: center;
	  /*top: 10%;
	  left: 25%;*/
	  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  background-color: rgba(0,0,0,0);
  }
  
  .welcome2 { /*for centering welcome div*/
	  width: 50%;
	  margin: auto;
  }
  
  .description {
	  /* margin-bottom: -15px; */
	  margin-top: 5%;
	  /*text-align: justify;
	text-justify: inter-word;*/
  }
  
  #logo {
	  width:35vw;
  }

/*Sponsors*/


.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sponsors {
	text-align:center;
}

.sponsors div{
	max-width: 30%;
	display: inline-block;
	float: none;
}

#intro-doc-button {
	margin-bottom: 50px;
}

.sponsors img {
	width:80%;
}

.sponsors-container {
	margin-bottom: 2%;
}

/*Responsiveness*/

@media only screen and (max-width : 768px) {
	#logo {
		width:70vw;
	}
	.sponsors div {
		max-width: 100%;		
		margin:10px;
	}

}

@media only screen and (max-width : 1350px) {
	.welcome2 {
		top: 10%;
		width: 75%;
		left: 12.5%;
	}

}

/*EVENTS TIMELINE*/

#events {
	height: 100%;
	/*height: 100%;*/
	min-height: 650px;
}

#events-timeline {
	width: 100%;
	background: black;
}

.tl-timeaxis-tick {
	font-size: 13px;
}

.tl-timemarker-content-container, .tl-headline-fadeout {
	/* height: 40px !important; */
	box-shadow: none !important;
	background: black !important;
	/* border: 1px solid #15B2A4 !important; #42DCA4 */
	border: 1px solid #42DCA4 !important; 
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"], .tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^=tl-icon-] {
	color: #bfbfbf !important;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"], .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^=tl-icon-] {
	color: #333 !important;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-line-left, .tl-timemarker.tl-timemarker-active .tl-timemarker-line-right {
	border-left: 1px solid #d9d9d9 !important;
}

.tl-timemarker .tl-timemarker-line-left, .tl-timemarker .tl-timemarker-line-right {
	border-color: rgba(51,51,51,.5) !important;
}

.tl-timeaxis {
	background-color: black;
}

.tl-timenav {
	/* width: 75vw; */
	/* margin: auto; */
	background: black;
	/* border-top: 1px solid #e5e5e5; */
	border-bottom: 1px solid #e5e5e5;
}

.tl-menubar-button {
	background-color: black;
}

h2.tl-headline {
	color:#42DCA4 !important;
}

.tl-attribution {
	background-color: black !important;
}

/*COMMITTEE*/

.img-center {
	margin: 0 auto;
}

.committee {
	display: block;
    width: 150px;
    height: 150px;
		margin: 10px auto;
}

.committee-section h4 > small{
	display: block;
}

.committee-section h4 {
	margin-bottom: 10px;
}
