section {
	height-min: 100vh;
}

body {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: white;
	background: black;
}

.text-primary, a {
	color: #42DCA4!important;
}

.page {
	padding-top: 5rem;
	background: black;
	min-height: calc(100vh - 11.3rem);
}

.btn-primary {
 background-color: black;
 color: #42DCA4;
 border: solid 1px #42DCA4;
}

.btn-primary:hover {
	background-color: #42DCA4;
	color: black;
	border: solid 1px #42DCA4;
   }

/*Navbar*/

#mainNav.navbar-shrink {
	/* background-color: black; */
	background-color: #161616;
}

#minilogo {
	display: inline-block;
	width:30px;
	margin-top:-6px;
}

/* Header */

.masthead h2 {
  max-width: 50rem;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 80rem;
    font-size: 1.25rem;
  }
}

.masthead {
	background: black;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/bg-masthead.jpg"); */
  /* background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.text-white-100 {
	color: white;
}

.about-section {
	min-height:75vh;
  padding-top: 3rem;
	background: #14211a;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8))); */
  /* background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%); */
}

#demo-canvas { /*where network background animation lives*/
	position: absolute;
	pointer-events: none;
}

  #logo {
	  width:35vw;
  }

	/* Team  */

.img-circle {
	border-radius: 50%;
}

.team-section {
	min-height:75vh;
	padding-top: 3rem;
}

.demographics-section {
	padding-top: 2rem;
	background: #a0a8a0;
	min-height:15rem;
}

/* Contact */

/* Blog */

.blog {
	background: #161616;
	color: #e6e6e6;
}

/*Sponsors and partners*/

.sponsors-section {
	/* min-height:75vh; */
	padding: 3rem 0rem;
}

.sponsors-section {
	/* min-height:75vh; */
	padding: 3rem 0rem;
}

.partners-section {
	min-height:50vh;
	padding: 3rem 0rem;
}

#intro-doc-button {
	margin-bottom: 50px;
}

.partners-section img, .sponsors-section img {
	max-height:100px;
	max-width: 100%;
	width: auto;
	height: auto;
	/* display: block;
    margin: 0 auto; */
}

/* Labs */

.project-content, .content-list, .posts-list {
	text-align: left;
}

.posts-list h3.post-title {
	color: #42DCA4;
}

.post.list-group-item {
	background-color: black;
	border: none;
}

.post.list-group-item:hover {
	background-color: rgb(22, 31, 27);
	border: none;
}

.projects-container {
	text-align: left;
	border: 1px solid black;
	padding: 10px;
	color: white;
}

.projects-container:hover {
	border: 1px solid #42DCA4;
	cursor: pointer;
}

.projects-container:hover h3.project-title {
	color: #42DCA4;
}

/*TEAM*/

.img-center {
	margin: 0 auto;
}

.committee {
	display: block;
    width: 150px;
    height: 150px;
		margin: 10px auto;
}

.committee-section h4 > small{
	display: block;
}

.committee-section h4 {
	margin-bottom: 10px;
}

/*Responsiveness*/

@media only screen and (max-width : 768px) {
	#logo {
		width:70vw;
	}
	.content div {
		max-width: 100%;
		margin:10px;
	}

	.content img {
		max-width:60vw;
	}

	#events {
		height: 100%;
		/*height: 100%;*/
		min-height: 1000px;
		margin-top: 10px;
		/* margin-bottom: 150px; */
	}

	.welcome-buttons-divs {
		margin-bottom: 30px;
	}

	body {
		margin-top: 57px;
	}

}

@media only screen and (max-width : 1350px) {
	.welcome2 {
		top: 10%;
		width: 75%;
		left: 12.5%;
	}

}

/* Events */

.fc-day-grid-container.fc-scroller {
	height: 100% !important;
	overflow-y: auto !important;
}

/* form */

/* .freebirdFormviewerViewFormCard {
	background: black;
	color: white;
} */

#join-form input {
	/* color: rgba(66,220,164,1.0); */
	color: rgb(0, 255, 162);
	/* color: white; */
	background: rgba(66,220,164,0.1);
	/* text-align: left !important; */
}

.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
	font-size: 16px;
	font-weight: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: black ;
    border-color:rgb(0, 255, 162);;
    border-style:solid;
    border-width:2px;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: black  ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid ;
    border-color:rgb(0, 255, 162);;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cust-btn{
	margin-bottom: 10px;
	background-color: rgb(0, 255, 162);;
	border-width: 2px;
	border-color: rgb(0, 255, 162);;
	color: black;
}
.cust-btn:hover{

	border-color: rgb(0, 255, 162);;
	background-color: black;
	color: rgb(0, 255, 162);;
	border-radius: 20px;
	transform-style: 2s;

}
