/* Header */
.large-header {
	position: relative;
	width: 100%;
  /*height: 100%;*/
	min-height: 650px;
	background: #333;
	/*overflow: auto;*/
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.navbar-brand {
	visibility: hidden;
}

.navbar.top-nav-collapse .navbar-brand {
	visibility: visible;
}

.btn-primary {
 background-color: black;
 color: #15B2A4;
 border: solid 1px #15B2A4;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsors {
	text-align:center;
}

.sponsors div{
	max-width: 30%;
	display: inline-block;
	float: none;
  }

#minilogo {
	display: inline-block;
	width:30px;
	margin-top:-6px;
}

#events {
	height: 100%;
	/*height: 100%;*/
	min-height: 650px;
}

#demo-canvas {
	position: absolute;
	pointer-events: none;
}

.welcome {
  font-weight: lighter;
	z-index: 2;
	/*position: absolute;*/
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	/*top: 10%;
	left: 25%;*/
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: rgba(0,0,0,0);
}

.welcome2 {
	width: 50%;
	margin: auto;
}

section, .large-header {
	display: block;
}

.large-header {
	margin-bottom: 75px;
}

.description {
	margin-bottom: -15px;
	/* margin-top: 5%; */
	/*text-align: justify;
  text-justify: inter-word;*/
}

.logos img {
	width: 60%;
}

.logos {
	margin-bottom: 2%;
}

#logo {
	width:35vw;
}

#large-header {
	/*background-image: url('http://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');*/
  background-color: black;
}

.main-title {
  font-weight: lighter;
	font-size: 5em;
	/*position: absolute;*/
	/*margin: 0;
	padding: 0;*/
	color: #f9f1e9;
	text-align: center;
	/*top: 30vh;*/
	/*left: 50vw;*/
	/*-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);*/
  text-transform: none;
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
  font-size: 0.5em;
	font-weight: 100;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
		margin-top: 15%
	}
	#logo {
		width:70vw;
	}
	.large-header {
		/*height: 1000px;*/
		margin-bottom: 500px;
	}
	#events {
		/*height: 1000px;*/
		margin-bottom: 100px;
	}
	.sponsors div {
		margin:10px;
	}

}

@media only screen and (max-width : 1350px) {
	.welcome2 {
		top: 10%;
		width: 75%;
		left: 12.5%;
	}

}

/**/

.img-center {
	margin: 0 auto;
}

.committee {
	display: block;
    width: 150px;
    height: 150px;
		margin: 10px auto;
}

.committee-section h4 > small{
	display: block;
}

.committee-section h4 {
	margin-bottom: 10px;
}

/*EVENTS TIMELINE*/

#events-timeline {
	width: 100%;
	background: black;
}

.tl-timeaxis-tick {
	font-size: 13px;
}

.tl-timemarker-content-container, .tl-headline-fadeout {
	/* height: 40px !important; */
	box-shadow: none !important;
	background: black !important;
	border: 1px solid #15B2A4 !important;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"], .tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^=tl-icon-] {
	color: #bfbfbf !important;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"], .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^=tl-icon-] {
	color: #333 !important;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-line-left, .tl-timemarker.tl-timemarker-active .tl-timemarker-line-right {
	border-left: 1px solid #d9d9d9 !important;
}

.tl-timemarker .tl-timemarker-line-left, .tl-timemarker .tl-timemarker-line-right {
	border-color: rgba(51,51,51,.5) !important;
}

.tl-timeaxis {
	background-color: black;
}

.tl-timenav {
	/* width: 75vw; */
	/* margin: auto; */
	background: black;
	/* border-top: 1px solid #e5e5e5; */
	border-bottom: 1px solid #e5e5e5;
}

.tl-menubar-button {
	background-color: black;
}
/* .tl-menubar-button {
	background-color:
} */

h2.tl-headline {
	color:#15B2A4 !important;
}

.tl-attribution {
	background-color: black !important;
}
