---
layout: default
title: Home
---

{% include header.html %}

<!-- About Section -->
{% comment %}
{% include about.html %}
{% endcomment %}

<!-- Team Section -->
{% comment %}
{% include demographics.html %}
{% endcomment %}



<!-- Partners Section -->
{% include partners.html %}

<!-- Sponsors Section -->
{% include sponsors.html %}

  <!-- Signup Section -->
  <!-- <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section> -->

  <!-- Contact Section -->
{% include contact.html %}

      <!-- <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div> -->
