---
layout: default
title: Team
---


<section class="text-center">
    <div class="committee-section">
        <div class="container">
    <div class="row">

    <!-- {% assign shuffled_array = site.data.team | shuffle %} -->
    {% assign len = site.data.team | size %}
    {% assign shuffled_array = site.data.team | sample: len %}
      {% for member in  shuffled_array %}
      <div class="col-lg-3 mb-3 mb-md-0" style="margin: 1rem 0rem; padding: 0rem 3rem; height: 100%">
        <!-- <div class="card py-4 h-100"> -->
          <!-- <div class="card-body text-center"> -->
          <div class="text-center">
            {% if member.picture %}
              <img class="img-circle img-responsive img-center committee" src={{ member.picture }} alt="">
            {% else %}
              <img class="img-circle img-responsive img-center committee" src="/img/people/anonymous.png" alt="">
            {% endif %}
            <h4 class="">{{ member.name }}</h4>
            <div class="small">{{ member.role }}</div>
            <hr class="my-2">
            <div class="row committee-member">
              <div class="centered">
              {% assign contacts = "email, twitter, github, linkedin, facebook" | split: ", "%}
              {% assign icons = "fas fa-envelope, fab fa-twitter, fab fa-github, fab fa-linkedin, fab fa-facebook" | split: ", " %}
              {% for thing in member %}
                {% for i in (0..4) %}
                 {% if thing[0] == contacts[i] %}
                 <div class="col-lg-4"><a href={{ thing[1] }}><i class="{{ icons[i] }} text-primary mb-2"></i></a></div>
                 {% endif %}
               {% endfor %}
              {% endfor %}
              <!-- <div class="col-4"><a href={{ i.url }}><i class="fas fa-envelope text-primary mb-2"></i></a></div> -->
              <!-- <div class="col-4"><a href={{ member.twitter }}><i class="fab fa-twitter text-primary mb-2"></i></a></div> -->
              <!-- <div class="col-4"><a href={{ member.github }}><i class="fab fa-github text-primary mb-2"></i></a></div> -->

              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
      {% endfor %}


  </div>
  </div>
  </div>
</section>
