<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">What we do</h2>
        <p class="text-white-50">Embedded in the University of Oxford, the society provides a platform to educate, build, connect, and employ an Artificial Intelligence community that constantly drives innovation for the University and the World.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
          <a target="_blank">
            <img class="about_icon" src="/img/community_icon.png"/>
            <h3>Community</h3>
          </a>
        </div>
        <div class="col-lg-3">
          <a target="_blank">
            <img class="about_icon" src="/img/education_icon.png"/>
            <h3>Education</h3>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="/labs" target="_blank">
            <img class="about_icon" src="/img/labs_icon.png"/>
            <h3>Labs</h3>
          </a>
        </div>
        <div class="col-lg-3">
          <a target="_blank">
            <img class="about_icon" src="/img/careers_icon.png"/>
            <h3>Careers</h3>
          </a>
        </div>
    </div>
    <!-- <img src="img/oxford.png" class="img-fluid" alt=""> -->
  </div>
</section>
