<section class="contact-section bg-black">
  <div class="container">

    <div class="row">

      <div class="col-md-3 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope fa-5x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Join us</h4>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fab fa-slack fa-5x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Community slack</h4>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <a href="https://twitter.com/OxfordAI">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-twitter fa-5x text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Twitter</h4>
            </div>
          </div>
        </a>
      </div>

    <div class="col-md-3 mb-3 mb-md-0">
      <a href="https://www.facebook.com/oxaisoc/">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="h-100 fab fa-facebook fa-5x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Facebook</h4>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
</section>
