<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mb-md-0">
        <a href="https://www.linkedin.com/company/oxai/" target="_blank">
          <div class="card py-4 h-100px">
            <div class="card-body text-center">
              <i class="fas fa-linkedin-in fa-5x text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Linkedin</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <a
          href="https://join.slack.com/t/oxai-public/shared_invite/enQtNjcxMTU2Mzg4NjE1LWI5NWUwZjhkYmU0YWQ5YjNmNmQ1YmE0ZWIzM2RjNjNjNTc3YTc4MGRhZTljOTM4YmExNjQwYmRiYzlhYzg3MzM"
          target="_blank"
        >
          <div class="card py-4 h-100px">
            <div class="card-body text-center">
              <i class="fab fa-slack fa-5x text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Community slack</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <a href="https://twitter.com/OxfordAI" target="_blank">
          <div class="card py-4 h-100px">
            <div class="card-body text-center">
              <i class="fab fa-twitter fa-5x text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Twitter</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <a href="https://www.facebook.com/oxaisoc/" target="_blank">
          <div class="card py-4 h-100px">
            <div class="card-body text-center">
              <i class="h-100 fab fa-facebook fa-5x text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Facebook</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
