<!-- Header -->
<header class="masthead">
  <canvas id="demo-canvas"></canvas>
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">
        <img id="logo" src="img/logo.png" />
      </h1>
      <h2 class="text-white-100 mx-auto mt-2 mb-5">
        Embedded in the University of Oxford, the society provides a platform to
        educate, build, connect, and employ an interdisciplinary Artificial
        Intelligence community that drives innovation and works towards the
        long-term social benefit of AI.
      </h2>
      <h2 class="text-white-100 mx-auto mt-2 mb-5">
        Our mission is to ensure that AI works for the benefit of everyone, and
        that anyone can learn about AI.
      </h2>
      <div class="w-75 mx-auto row">
        <div class="my-2 col-lg-4">
          <a href="/news" class="btn btn-primary js-scroll-trigger"
            >Past Newsletters</a
          >
        </div>
        <div class="my-2 col-lg-4">
          <a href="/join" class="btn btn-primary js-scroll-trigger">Join Us</a>
        </div>
        <div class="my-2 col-lg-4">
          <a href="/team" class="btn btn-primary js-scroll-trigger"
            >Who we are</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
