<!-- Navigation (navigation bar on the top)-->
<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <!--LOGO at the top-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <!-- <i class="fa fa-play-circle"></i> -->
                    <img id="minilogo" src="/img/logo2.png"></img>
                      <span class="light">&nbsp;OX</span>AI
                </a>
            </div>

            <!--Links to the difference sections of the one-page webpage-->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <!-- <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li> -->
                        <li>
                            <a class="page-scroll" href="/events">Events</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/join">Join</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/labs">Labs</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/blog">Blog</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/#sponsors">Sponsors</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/#partners">Partners</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/team">Team</a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>
